body{
    background-color: black;
    text-align:center;
}
.mnc{
    background-color: black;
    
}
.navbar a{
    /* color:#035096; */
    /* color:aqua; */
    color:aqua;
    border-radius: 15px;
    transition: transform .4s;
    font-size: 1.1em;
    font-weight: bold;
}
.navbar a:hover{
    color:black;
    background-color: aqua;
    /* background-color: rgb(58, 235, 58); */
    /* text-decoration: underline overline; */
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
.navbar button{
    background-color:aqua;
}